/* gaya.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

center {
    margin-top: 50px;
}

h2 {
    color: #333;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 16px;
    color: #ff0000;
}

video {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
