body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('nct.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    background: rgba(77, 228, 13, 0.8);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(239, 11, 11, 0.1);
    background: url('') no-repeat center center fixed;
}

#lyrics {
    margin-top: 20px;
    font-size: 18px;
    white-space: pre-wrap;
    text-align: left;
    color:aliceblue
}

.current-line {
    color: #e60e15;
    font-weight: rgb(17, 210, 49);
}

h1 {
    color: #e11114;
    font-size: 1.5em;

}

#nextPageButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#nextPageButton:hover {
    background-color: #45a049;
}